# 10. Sqlite 데이터베이스 연동_1
# 테이블 생성, 데이터 삽입과 삭제
- 설명: https://silvercoding.tistory.com/45?category=962808

### - setting 
- **library import**
- **SQliteDatabaseBrowserPortable.exe** 설치하기 -> 직관적인 데이터베이스 관리 가능

In [1]:
import sqlite3
import datetime

- **삽입날짜 변수 생성**

In [4]:
now = datetime.datetime.now()
print("now: ", now)

nowDateTime = now.strftime('%Y-%m-%d %H:%M:%S')
print('nowDateTime: ', nowDateTime)

now:  2021-09-20 17:36:58.730291
nowDateTime:  2021-09-20 17:36:58

- **sqlite 살펴보기**

In [6]:
print('sqlite3.version: ', sqlite3.version)
print('sqlite3.sqlite_version', sqlite3.sqlite_version)

sqlite3.version:  2.6.0
sqlite3.sqlite_version 3.33.0

## (1) 테이블 생성

### - DB 생성 & Auto Commit(Rollback) 설정 
- isolation_level=None: AutoCommit

In [8]:
conn = sqlite3.connect('./resource/database.db', isolation_level=None)

### - Cursor

In [9]:
c = conn.cursor()
print('Cursor Type: ', type(c))

Cursor Type:  <class 'sqlite3.Cursor'>

### - 테이블 생성 CREATE TABLE
- **data type: TEXT, NUMERIC, INTEGER, REAL BLOB ... )**

In [10]:
c.execute('CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, username TEXT, email TEXT, phone TEXT, website TEXT, regdate TEXT)')

### - 데이터 삽입 INSERT INTO

- 방법 1

In [11]:
c.execute("INSERT INTO users VALUES(1, 'KIM', 'silver@naver.com', '010-0000-0000', 'kim.com', ?)", (nowDateTime,))

- 방법 2

In [12]:
c.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?, ?, ?, ?, ?, ?)", (2, 'Park', 'Park@gmail.com', '010-1111-1111', 'park.com', nowDateTime))

### - Many 삽입 (튜플, 리스트): executemany

In [14]:
userList = (
    (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', nowDateTime),
    (4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', nowDateTime),
    (5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', nowDateTime)
)

c.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?, ?, ?, ?, ?, ?)", userList)

### - 테이블 데이터 삭제: DELETE FROM

In [15]:
c.execute('DELETE FROM users')

- **지워진 개수 반환하고 삭제하기**

In [17]:
userList = (
    (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', nowDateTime),
    (4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', nowDateTime),
    (5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', nowDateTime)
)

c.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?, ?, ?, ?, ?, ?)", userList)

print("users db delete: ", c.execute('DELETE FROM users').rowcount)

users db delete:  3

### - 커밋 & 롤백
- isolation_level=None: Autocommit

In [23]:
# conn.commit()

In [20]:
# conn.rollback()

### - 접속 해제
- 마무리할 때 꼭 해주어야 한다.

In [24]:
conn.close()