# 10. Sqlite 데이터베이스 연동_2
# 테이블 조회

### - Setting

In [7]:
import sqlite3

In [8]:
conn = sqlite3.connect('./resource/database.db')

In [9]:
c = conn.cursor()

## (2) 테이블 조회

### - 전체 데이터 조회

In [13]:
c.execute("SELECT * FROM users")

### - 커서 위치 변경

- 1개 로우 선택: **fetchone()**

In [14]:
print('One: \n', c.fetchone())

One:
 (1, 'KIM', 'silver@naver.com', '010-0000-0000', 'kim.com', '2021-09-21 10:49:23')

- 지정 로우 선택: **fetchmany( size=n )** -> 리스트 반환

In [15]:
print('Three: \n', c.fetchmany(size=3))

Three:
 [(2, 'Park', 'Park@gmail.com', '010-1111-1111', 'park.com', '2021-09-21 10:49:23'), (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23'), (4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', '2021-09-21 10:49:23')]

- 전체 로우 선택: **fetchall()**

In [16]:
print('All: \n', c.fetchall())

All:
 [(5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', '2021-09-21 10:49:23')]

In [18]:
print('All: \n', c.fetchall())  # 모든 데이터 조회.

All:
 []

### -  순회

- 순회 1

In [20]:
c.execute("SELECT * FROM users")

In [21]:
rows = c.fetchall()
for row in rows:
    print('retrieve1: ', row)

retrieve1:  (1, 'KIM', 'silver@naver.com', '010-0000-0000', 'kim.com', '2021-09-21 10:49:23')
retrieve1:  (2, 'Park', 'Park@gmail.com', '010-1111-1111', 'park.com', '2021-09-21 10:49:23')
retrieve1:  (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23')
retrieve1:  (4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', '2021-09-21 10:49:23')
retrieve1:  (5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', '2021-09-21 10:49:23')

- 순회 2

In [23]:
c.execute("SELECT * FROM users")

In [24]:
for row in c.fetchall():
    print('retrieve2: ', row)

retrieve2:  (1, 'KIM', 'silver@naver.com', '010-0000-0000', 'kim.com', '2021-09-21 10:49:23')
retrieve2:  (2, 'Park', 'Park@gmail.com', '010-1111-1111', 'park.com', '2021-09-21 10:49:23')
retrieve2:  (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23')
retrieve2:  (4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', '2021-09-21 10:49:23')
retrieve2:  (5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', '2021-09-21 10:49:23')

- 순회 3: **가독성이 떨어질 수 있음**

In [26]:
for row in c.execute('SELECT * FROM users ORDER BY id desc'):
    print("retrieve3: ", row)

retrieve3:  (5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', '2021-09-21 10:49:23')
retrieve3:  (4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', '2021-09-21 10:49:23')
retrieve3:  (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23')
retrieve3:  (2, 'Park', 'Park@gmail.com', '010-1111-1111', 'park.com', '2021-09-21 10:49:23')
retrieve3:  (1, 'KIM', 'silver@naver.com', '010-0000-0000', 'kim.com', '2021-09-21 10:49:23')

### - WHERE Retrieve

- **방법1:** 튜플

In [29]:
param1 = (3, )
c.execute('SELECT * FROM users WHERE id=?', param1)
print('param1: ', c.fetchone())
print('param1: ', c.fetchall()) # 데이터 없음

param1:  (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23')
param1:  []

- **방법 2:** format

In [31]:
param2 = 4
c.execute('SELECT * FROM users WHERE id="%s"' %param2)
print('param2: ', c.fetchone())
print('param2: ', c.fetchall())

param2:  (4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', '2021-09-21 10:49:23')
param2:  []

- **방법3:** dictionary

In [32]:
c.execute('SELECT * FROM users WHERE id=:ID', {"ID":5})
print('param3: ', c.fetchone())
print("param3: ", c.fetchall())

param3:  (5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', '2021-09-21 10:49:23')
param3:  []

- **방법4:** IN & tuple

In [34]:
param4 = (3, 5)
c.execute('SELECT * FROM users WHERE id IN(?, ?)', param4)
print('param4: ', c.fetchall())

param4:  [(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23'), (5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', '2021-09-21 10:49:23')]

- **방법5:** IN * format

In [36]:
c.execute('SELECT * FROM users WHERE id IN("%d", "%d")' % (3, 4 ))
print('param5: ', c.fetchall())

param5:  [(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23'), (4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', '2021-09-21 10:49:23')]

- **방법6:** OR & dictionary

In [38]:
c.execute('SELECT * FROM users WHERE id=:id1 OR id=:id2', {'id1': 2, 'id2':5})
print('param6: ', c.fetchall())

param6:  [(2, 'Park', 'Park@gmail.com', '010-1111-1111', 'park.com', '2021-09-21 10:49:23'), (5, 'Yoo', 'yoo@daum.net', '010-4444-4444', 'yoo.net', '2021-09-21 10:49:23')]

### - Dump 출력 (중요!): conn.iterdump()
- 테이블 생성, 값 삽입 연산들을 한 번에 볼 수 있는 파일 생성

In [39]:
with conn: 
    with open("./resource/dump.sql", 'w') as f: 
        for line in conn.iterdump():
            f.write("%s\n" %line)
        print('Dump Print Complete')

Dump Print Complete

### - 연결 해제
- : with문을 사용했기 때문에 자동 호출된다.

In [41]:
# f.close()
# conn.close()