# 10. Sqlite 데이터베이스 연동_3
# 테이블 데이터 수정 및 삭제
- 설명: https://silvercoding.tistory.com/47?category=962808

### - settings

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./resource/database.db')

In [3]:
c = conn.cursor()

- **Autocommit** 설정을 하지 않았기 때문에 코드 뒤에 **conn.commit()** 를 항상 선언해야 한다.

## (3) 테이블 데이터 수정 및 삭제

### - 데이터 수정: UPDATE

- **1) 방법1:** 튜플

In [6]:
c.execute("UPDATE users SET username = ? WHERE id = ?", ('niceman', 2))

- **2) 방법2:** 딕셔너리

In [8]:
c.execute("UPDATE users SET username=:name WHERE id=:ID", {'name': 'goodgirl', 'ID': 5})

- **3) 방법3:** format

In [10]:
c.execute("UPDATE users SET username='%s' WHERE id='%s'" % ('badboy', 3))

- 중간 데이터 확인 1

In [12]:
for user in c.execute("SELECT * FROM users"):
    print(user)

(1, 'KIM', 'silver@naver.com', '010-0000-0000', 'kim.com', '2021-09-21 10:49:23')
(2, 'niceman', 'Park@gmail.com', '010-1111-1111', 'park.com', '2021-09-21 10:49:23')
(3, 'badboy', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23')
(4, 'Jung', 'jung@gmail.com', '010-3333-3333', 'jung.com', '2021-09-21 10:49:23')
(5, 'goodgirl', 'yoo@daum.net', '010-4444-4444', 'yoo.net', '2021-09-21 10:49:23')

### - 데이터 삭제

- **1)** Row Delete

In [14]:
# 방법 1 
c.execute("DELETE FROM users WHERE id=?", (2, ))

In [16]:
# 방법 2 
c.execute("DELETE FROM users WHERE id=:ID", {'ID': 5})

In [19]:
# 방법 3
c.execute("DELETE FROM users WHERE id='%s'" % 4)

- 중간 데이터 확인 2

In [21]:
for user in c.execute("SELECT * FROM users"):
    print(user)

(1, 'KIM', 'silver@naver.com', '010-0000-0000', 'kim.com', '2021-09-21 10:49:23')
(3, 'badboy', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-09-21 10:49:23')

- **2)** 테이블 전체 데이터 삭제

In [22]:
print("users db deleted: ", conn.execute("DELETE FROM users").rowcount, 'rows')

users db deleted:  2 rows

- **commit 셀**

In [23]:
# 변경사항 반영 할 때마다 실행
conn.commit()

- **접속 해제:** with문을 사용하지 않으면 접속 해제를 꼭 해주어야 한다.

In [25]:
conn.close()