# 3-2 흐름제어: 반복문 for, while

# (1) While 문

- **예제1**

In [2]:
v1 = 1
while v1 < 11: 
    print("v1 is: ", v1)
    v1 += 1

v1 is:  1
v1 is:  2
v1 is:  3
v1 is:  4
v1 is:  5
v1 is:  6
v1 is:  7
v1 is:  8
v1 is:  9
v1 is:  10

- **예제2**

In [8]:
sum1 = 0 
cnt1 = 1

In [11]:
while cnt1 <= 100: 
    sum1 += cnt1
    cnt1 += 1 
print(sum1)

5050

- **참고: 같은 결과를 낼 수 있는 sum**

In [12]:
print(sum(range(1, 101)))
print(sum(range(1, 101, 2)))

5050
2500

# (2) for 문

- **예제 1**

In [13]:
for v3 in range(1, 11):
    print('v3 is: ', v3)

v3 is:  1
v3 is:  2
v3 is:  3
v3 is:  4
v3 is:  5
v3 is:  6
v3 is:  7
v3 is:  8
v3 is:  9
v3 is:  10

- **예제 2 - 리스트**

In [14]:
names = ['kim', 'park', 'cho', 'choi', 'yoo']

In [15]:
for name in names:
    print('Your name is ', name)

Your name is  kim
Your name is  park
Your name is  cho
Your name is  choi
Your name is  yoo

- **예제 3 - 문자열**

In [18]:
word = 'dreams'

In [19]:
for s in word: 
    print("Word: ", s)

Word:  d
Word:  r
Word:  e
Word:  a
Word:  m
Word:  s

- **예제 4 - 딕셔너리**

In [20]:
my_info = {
    'name': 'Silver',
    'age': 33,
    'city': 'Seoul'
}

- 기본: key

In [21]:
for key in my_info:
    print(key)

name
age
city

- values

In [22]:
for val in my_info.values():
    print(val)

Silver
33
Seoul

- keys

In [23]:
for key in my_info.keys():
    print(key)

name
age
city

- items

In [29]:
for key, val in my_info.items():
    print(key, '|', val)

name | Silver
age | 33
city | Seoul

- **예제 5 - 반복문 + 조건문**

In [30]:
name = 'SilveR'
name2 = ""

In [31]:
for n in name:
    if n.isupper():
        print(n.lower())
        name2 += n.lower()
    else: 
        print(n.upper())
        name2 += n.upper()

s
I
L
V
E
r

In [32]:
print(name2)

sILVEr

- **예제 6 - break**

In [34]:
numbers = [14, 3, 4, 7, 10, 24, 17, 2, 33, 35, 36, 38]
numbers2 = [14, 3, 4, 7, 10, 24, 17, 2, 37, 35, 36, 38]

In [35]:
for num in numbers: 
    if num == 33:
        print("found 33 !!!")
        break
    else:
        print("not found 33 !!!")

not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
found 33 !!!

 - **예제 7 - for-else 구문**
- 모든값 정상 순회 -> else 블럭 수행

In [37]:
for num in numbers2:
    if num == 33:
        print('found 33 !!!')
        break
    else:
        print('not found 33 !!!')
else:
    print("Not found 33.........")

not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
not found 33 !!!
Not found 33.........

- **예제 8 - continue**

In [41]:
l1 = ['1', 2, 5, True, 4.3, complex(4)]

In [44]:
for i in l1:
    if type(i) is float:
        continue
    print("type: ", type(i))

type:  <class 'str'>
type:  <class 'int'>
type:  <class 'int'>
type:  <class 'bool'>
type:  <class 'complex'>

- **예제 9 - reversed 함수**

In [45]:
name = 'Niceman'
print(reversed(name))
print(list(reversed(name)))
print(tuple(reversed(name)))

<reversed object at 0x0000019C1B6ACEF0>
['n', 'a', 'm', 'e', 'c', 'i', 'N']
('n', 'a', 'm', 'e', 'c', 'i', 'N')

In [47]:
for n in reversed(name): 
    print(n)

n
a
m
e
c
i
N