# 9. 외부 파일 처리

In [4]:
import csv

## (1) 예제 1

In [3]:
with open('./resource/sample1.csv', 'r') as f:
    reader = csv.reader(f)
#     next(reader) # 헤더 스킵 
    
    # 확인 
    print(reader)
    print(type(reader))
    print(dir(reader))
    print()
    
    for c in reader:
        print(c) # 하나의 row가 리스트 형식으로 나온다.

<_csv.reader object at 0x000002487E1CF320>
<class '_csv.reader'>
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'dialect', 'line_num']

['번호', '이름', '가입일시', '나이']
['1', '김정수', '2017-01-19 11:30:00', '25']
['2', '박민구', '2017-02-07 10:22:00', '35']
['3', '정순미', '2017-01-22 09:10:00', '33']
['4', '김정현', '2017-02-22 14:09:00', '45']
['5', '홍미진', '2017-04-01 18:00:00', '17']
['6', '김순철', '2017-05-14 22:33:07', '22']
['7', '이동철', '2017-03-01 23:44:45', '27']
['8', '박지숙', '2017-01-11 06:04:18', '30']
['9', '김은미', '2017-02-08 07:44:33', '51']
['10', '장혁철', '2017-12-01 13:01:11', '16']

## 예제 2: 구분 문자 지정(delimiter)

In [6]:
with open("./resource/sample2.csv", 'r')  as f:
    reader = csv.reader(f, delimiter='|')
    
    print(reader)
    print(type(reader))
    print(dir(reader))
    print()
    
    for c in reader:
        print(c)

<_csv.reader object at 0x000002487E1CF4C0>
<class '_csv.reader'>
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'dialect', 'line_num']

['번호', '이름', '가입일시', '나이']
['1', '김정수', '2017-01-19 11:30:00', '25']
['2', '박민구', '2017-02-07 10:22:00', '35']
['3', '정순미', '2017-01-22 09:10:00', '33']
['4', '김정현', '2017-02-22 14:09:00', '45']
['5', '홍미진', '2017-04-01 18:00:00', '17']
['6', '김순철', '2017-05-14 22:33:07', '22']
['7', '이동철', '2017-03-01 23:44:45', '27']
['8', '박지숙', '2017-01-11 06:04:18', '30']
['9', '김은미', '2017-02-08 07:44:33', '51']
['10', '장혁철', '2017-12-01 13:01:11', '16']

## 예제 3
- **dictionary로 읽어오기: DictReader**

In [9]:
with open('./resource/sample1.csv', 'r') as f: 
    reader = csv.DictReader(f)
    
    for c in reader:
#         print(c)
        for k, v in c.items():
            print(k, v)
        print('----------------------------------')

번호 1
이름 김정수
가입일시 2017-01-19 11:30:00
나이 25
----------------------------------
번호 2
이름 박민구
가입일시 2017-02-07 10:22:00
나이 35
----------------------------------
번호 3
이름 정순미
가입일시 2017-01-22 09:10:00
나이 33
----------------------------------
번호 4
이름 김정현
가입일시 2017-02-22 14:09:00
나이 45
----------------------------------
번호 5
이름 홍미진
가입일시 2017-04-01 18:00:00
나이 17
----------------------------------
번호 6
이름 김순철
가입일시 2017-05-14 22:33:07
나이 22
----------------------------------
번호 7
이름 이동철
가입일시 2017-03-01 23:44:45
나이 27
----------------------------------
번호 8
이름 박지숙
가입일시 2017-01-11 06:04:18
나이 30
----------------------------------
번호 9
이름 김은미
가입일시 2017-02-08 07:44:33
나이 51
----------------------------------
번호 10
이름 장혁철
가입일시 2017-12-01 13:01:11
나이 16
----------------------------------

## 예제 4: writerow

In [11]:
w = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

with open('./resource/sample3.csv', 'w', newline='') as f: 
    wt = csv.writer(f)
    
    for v in w: 
        wt.writerow(v) # 하나하나 검수해서 쓸 때 (if 같은 조건이 들어갈 때)

## 예제 5: writerows

In [14]:
with open("./resource/sample4.csv", 'w', newline='') as f:
    wt = csv.writer(f)
    wt.writerows(w)  # 아예 한번에 쓰는 것

## 예제 6: excel

### - xsl, xlsx
- : openpyxl, xlswriter, xlrd, xlwt, xlutils
- : pandas를 주로 사용 (openpyxl, xlrd)

### - 설치 (pandas, openpyxl, xlrd)
- pip install xlrd
- pip install openpyxl
- pip install pandas

### - 불러오기

In [16]:
import pandas as pd 
xlsx = pd.read_excel('./resource/sample.xlsx')

### - 상위 데이터 확인

In [18]:
print(xlsx.head())

  Sap Co.      대리점 영업사원       전월       금월  TEAM  총 판매수량
0  KI1316  경기수원대리점  이기정  1720000  2952000     1     123
1  KI1451  충청홍성대리점  정미진  4080000  2706000     2     220
2  KI1534  경기화성대리점  경인선   600000  2214000     1     320
3  KI1636  강원속초대리점  이동권  3720000  2870000     3     110
4  KI1735  경기안양대리점  강준석  4800000  2296000     1     134

### - 하위 데이터 확인

In [19]:
print(xlsx.tail())

   Sap Co.       대리점 영업사원       전월       금월  TEAM  총 판매수량
15  KI2870  경기구리시대리점  박진형  6000000  3400000     2     143
16  KI2910   강원춘천대리점  김은향  4800000  4896000     1     176
17  KI3030   강원영동대리점  전수창  4560000  3128000     2      98
18  KI3131   경기하남대리점  김민정  2750000  7268000     3     293
19  KI3252   강원포천대리점  서가은  2420000  4740000     4     240

### - 데이터의 구조

In [20]:
print(xlsx.shape)

(20, 7)

### - 엑셀 or CSV 다시 쓰기

In [21]:
xlsx.to_excel("./resource/result.xlsx", index=False)
xlsx.to_csv("./resource/result.csv", index=False)