# 2-2 Data Type : 리스트, 튜플, 딕셔너리, 집합

## (1) 리스트 (list)
- 순서 O, 중복 O, 삭제 O

### - 선언

In [14]:
a = []
b = list()
c = [1, 2, 3, 4]
d = [10, 100, 'Pen', 'Banana', 'Orange']
e = [10, 100, ['Pen', 'Banana', 'Orange']]

### - 인덱싱

In [3]:
print(d[3])
print(d[-2])
print(d[0] + d[1])
print(e[2][1])
print(e[-1][-2])

Banana
Banana
110
Banana
Banana

### - 슬라이싱

In [4]:
print(d[0:3])
print(e[2][1:3])

[10, 100, 'Pen']
['Banana', 'Orange']

### - 연산

In [8]:
print(c + d)
print(c * 3)
print(str(c[0]) + 'hi')

[1, 2, 3, 4, 10, 100, 'Pen', 'Banana', 'Orange']
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
1hi

### - 리스트 수정, 삭제

In [15]:
c[0] = 77
print(c)

[77, 2, 3, 4]

In [16]:
c[1:2] = [100, 1000, 10000]  # 슬라이싱: 원소가 들어감 
print(c)

[77, 100, 1000, 10000, 3, 4]

In [17]:
c[1] = ['a', 'b', 'c']  # 인덱싱: 리스트 자체가 들어감
print(c)

[77, ['a', 'b', 'c'], 1000, 10000, 3, 4]

In [18]:
del c[1]
print(c)

[77, 1000, 10000, 3, 4]

In [19]:
del c[-1]
print(c)

[77, 1000, 10000, 3]

### - 리스트 관련 함수

- append

In [21]:
y = [5, 2, 3, 1, 4]
print(y)
y.append(6)
print(y)

[5, 2, 3, 1, 4]
[5, 2, 3, 1, 4, 6]

- sort

In [22]:
y.sort()
print(y)

[1, 2, 3, 4, 5, 6]

- reverse

In [25]:
y.reverse()
print(y)

[1, 2, 3, 4, 5, 6]

- insert

In [26]:
y.insert(2, 7)
print(y)

[1, 2, 7, 3, 4, 5, 6]

- remove

In [27]:
y.remove(2)
y.remove(7)
print(y)

[1, 3, 4, 5, 6]

- pop

In [28]:
y.pop()
print(y)

[1, 3, 4, 5]

- extend

In [29]:
ex = [77, 88]
# y.append(ex) # ---> 리스트 자체를 추가 함 
y.extend(ex) # 값을 추가 함
print(y)

[1, 3, 4, 5, 77, 88]

### - 리스트 삭제 3종류 비교하기 
- del(): 인덱스 값 
- remove(): 원소 값 
- pop(): 가장 마지막 값 ( 예외 발생 주의 )

## (2) 튜플 (tuple)
- 순서 O, 중복 O, 수정 X, 삭제 X

### - 선언

In [31]:
a = ()
b = (1,)
c = (1, 2, 3, 4)
d = (10, 100, ('a', 'b', 'c'))

### - 삭제: 불가

In [33]:
del c[2]  # 오류 발생

TypeError: 'tuple' object doesn't support item deletion

### - 인덱싱

In [34]:
print(c[2])
print(c[3])
print(d[2][2])

3
4
c

### - 슬라이싱

In [35]:
print(d[2:])
print(d[2][0:2])

(('a', 'b', 'c'),)
('a', 'b')

### - 연산

In [37]:
print(c + d)
print(c * 3)

(1, 2, 3, 4, 10, 100, ('a', 'b', 'c'))
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### - 튜플 관련 함수

In [41]:
z = (5, 2, 1, 3, 1)
print(z)
print(3 in z)  # 튜플 안에 3이 있는가? 
print(z.index(5))  # 튜플 안의 값 5의 index를 반환 : 없으면 예외 발생 
print(z.count(1))  # 튜플 안의 값 1이 몇개 있는가

(5, 2, 1, 3, 1)
True
0
2

## (3) 딕셔너리 (Dictionary)
- 순서 X, 중복 X, 수정 O, 삭제 O 
- Key, Value 형식

### - 선언

In [42]:
a = {'name': 'Kim', 'Phone': "010-7777-7777", 'birth': 990101}
b = {0: 'Hello Python', 1: 'Hello silver'}
c = {'arr': [1, 2, 3, 4, 5]}

In [43]:
print(type(a), type(b), type(c))

<class 'dict'> <class 'dict'> <class 'dict'>

### - 출력

In [45]:
print(a['name'])
print(a.get('name'))
print(a.get('adress')) # 안전한 코딩 방식 -> 값이 존재하지 않아도 에러 나지 않음
print(c['arr'][1:3])

Kim
Kim
None
[2, 3]

### - 추가

In [46]:
a['adress'] = 'Seoul'
print(a)
a['rank'] = [1, 3, 4]
a['rank2'] = (1, 2, 3)
print(a)

{'name': 'Kim', 'Phone': '010-7777-7777', 'birth': 990101, 'adress': 'Seoul'}
{'name': 'Kim', 'Phone': '010-7777-7777', 'birth': 990101, 'adress': 'Seoul', 'rank': [1, 3, 4], 'rank2': (1, 2, 3)}

### - keys, values, items

In [48]:
# print(a.keys()[0])  # 리스트 인덱스로 접근 불가 
temp = list(a.keys())  # 형변환을 해주어야 함 
print(temp)
print(temp[1:3])

['name', 'Phone', 'birth', 'adress', 'rank', 'rank2']
['Phone', 'birth']

In [53]:
print(a.values())
print(list(a.values()))
print("-------------------------------------------------------------------------------")
print(a.items())
print(list(a.items()))

dict_values(['Kim', '010-7777-7777', 990101, 'Seoul', [1, 3, 4], (1, 2, 3)])
['Kim', '010-7777-7777', 990101, 'Seoul', [1, 3, 4], (1, 2, 3)]
-------------------------------------------------------------------------------
dict_items([('name', 'Kim'), ('Phone', '010-7777-7777'), ('birth', 990101), ('adress', 'Seoul'), ('rank', [1, 3, 4]), ('rank2', (1, 2, 3))])
[('name', 'Kim'), ('Phone', '010-7777-7777'), ('birth', 990101), ('adress', 'Seoul'), ('rank', [1, 3, 4]), ('rank2', (1, 2, 3))]

### - 키 존재 여부

In [54]:
print(1 in b)
print(2 in b)
print('name' in a )

True
False
True

## (3) 집합 (Set)
- 순서 X, 중복 X

### - 선언

In [58]:
a1 = {} # ----> 주의: dictionary 
a2 = set()
b = set([1, 2, 3, 4])
c = set([1, 4, 6, 6, 6])
print(type(a1), type(a2), sep='  |  ')
print(b)
print(c)

<class 'dict'>  |  <class 'set'>
{1, 2, 3, 4}
{1, 4, 6}

### - 형변환
- set 자료형은 주로 형변환 하여 사용한다. (중복 값 제거 용도)

In [60]:
t = tuple(b)
print(t)
l = list(b)
print(l)

(1, 2, 3, 4)
[1, 2, 3, 4]

### - 집합연산

In [61]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

- **교집합: intersection / &**

In [62]:
print(s1.intersection(s2))
print(s1 & s2)

{4, 5, 6}
{4, 5, 6}

- **합집합: union / |**

In [63]:
print(s1.union(s2))
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

- **차집합: difference / -**

In [64]:
print(s1.difference(s2))
print(s1 - s2)

{1, 2, 3}
{1, 2, 3}

- **추가 & 제거**

In [65]:
### 추가: add()
s3 = set([7, 8, 10, 15])
s3.add(18)
s3.add(7)
print(s3)

{7, 8, 10, 15, 18}

In [66]:
### 제거: remove()
s3.remove(15)
print(s3)

{7, 8, 10, 18}